# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# PyInstaller
build/
dist/
*.spec

# Logs
logs/
*.log

# Reports
reports/
*.xlsx

# SQLite Databases
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Generated EXE Runtime Files
dist/logs/
dist/reports/
dist/*.db

# Local Config Overrides
config_local.json